<h2>Solicitar Revisión</h2>

<button class="btn btn-secondary mb-3" (click)="volver()">
  ⬅️ Volver
</button>
<div class="form-container">

  <div class="mb-3">
    <label>Motivo de revisión</label>
    <input 
      type="text" 
      class="form-control" 
      [(ngModel)]="motivo" 
      name="motivo"
      required
      minlength="5"
      placeholder="Describe el problema"
    >
  </div>

  <div class="mb-3">
    <label>Placa o ID del Vehículo</label>
    <input 
      type="text" 
      class="form-control" 
      [(ngModel)]="vehiculoId" 
      name="vehiculoId"
      required
      placeholder="ABC123"
    >
  </div>

  <button class="btn btn-primary" (click)="onSubmit()">Enviar Solicitud</button>

  <p class="text-danger mt-2">{{ mensaje }}</p>

</div>
