.logout-btn {
  background-color: #dc3545;
  border: none;
  padding: 10px 18px;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #bb2d3b;
  transform: scale(1.05);
}

.logout-btn:active {
  transform: scale(0.97);
}
