<div class="container mt-4">

  <h2 class="text-center mb-4 titulo">Panel de Administración</h2>

  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-danger" (click)="logout()">Cerrar Sesión</button>
  </div>

  <div class="row g-3">

    <!-- Gestionar Repuestos -->
    <div class="col-12 col-md-4">
      <div class="card admin-card shadow">
        <h4>Repuestos</h4>
        <p>Registrar y administrar repuestos.</p>
        <button class="btn btn-primary w-100" routerLink="/admin-repuestos">Ir</button>
      </div>
    </div>

    <!-- Gestionar Vehículos -->
    <div class="col-12 col-md-4">
      <div class="card admin-card shadow">
        <h4>Vehículos</h4>
        <p>Ver todos los vehículos registrados.</p>
        <button class="btn btn-primary w-100" routerLink="/admin-vehiculos">Ir</button>
      </div>
    </div>

    <!-- Gestionar Órdenes -->
    <div class="col-12 col-md-4">
      <div class="card admin-card shadow">
        <h4>Órdenes</h4>
        <p>Administrar procesos y estados.</p>
        <button class="btn btn-primary w-100" routerLink="/admin-ordenes">Ir</button>
      </div>
    </div>

  </div>
</div>
