<div class="login-wrapper d-flex">

  <!-- COLUMNA IZQUIERDA: IMAGEN DEL TALLER -->
  <div class="left-side d-flex align-items-center justify-content-center">
    <img src="https://cdn-icons-png.flaticon.com/512/2972/2972185.png"
         alt="Taller Mecánico"
         class="left-image" />
  </div>

  <!-- COLUMNA DERECHA: LOGIN -->
  <div class="right-side d-flex align-items-center justify-content-center">
    <div class="login-card shadow p-4 rounded">

      <img src="https://cdn-icons-png.flaticon.com/512/743/743131.png"
           class="logo mb-3"
           alt="Logo Taller" />

      <h2 class="titulo mb-2">AutoClinic</h2>
      <p class="subtitulo">Tu Taller Mecánico de Confianza</p>
      <p>
      En <b>AutoClinic</b> ofrecemos servicio profesional para tu vehículo:
      diagnósticos confiables, mantenimiento preventivo, reparación mecánica
      y repuestos originales.
    </p>
    <p>
      🚗 ¡Confía tu auto en manos expertas!
    </p>

      <button class="btn btn-google w-100" (click)="login()">
        <img src="https://www.vectorlogo.zone/logos/google/google-icon.svg" class="google-icon" />
        Iniciar sesión con Google
      </button>

    </div>
  </div>

</div>







