/* ===== FONDO DEGRADADO ===== */
.login-wrapper {
  height: 100vh;
  display: flex;
  background: linear-gradient(135deg, #b83105, #d79d00);
}

/* ===== ESTRUCTURA ===== */
.left-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== IMAGEN LADO IZQUIERDO ===== */
.left-image {
  width: 60%;
  max-width: 380px;
  opacity: 0.95;
}

/* ===== TARJETA LOGIN ===== */
.login-card {
  width: 90%;
  max-width: 420px;
  background: #ffffff;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 0.6s ease-in-out;
}

/* ANIMACIÓN DE ENTRADA */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

/* ===== LOGO ===== */
.logo {
  width: 70px;
  margin-bottom: 10px;
}

/* ===== TITULOS ===== */
.titulo {
  font-weight: 700;
  color: #333;
}

.subtitulo {
  color: #666;
  margin-bottom: 15px;
}

/* ===== BOTÓN GOOGLE ===== */
.btn-google {
  background: #ffffff;
  border: 2px solid #e0e0e0;
  padding: 10px
}











