<div class="panel-wrapper">

  <div *ngIf="user$ | async as user; else noUser" class="panel-card">

    <h1 class="titulo-principal">Agenda o revisa tus citas</h1>

    <h2 class="bienvenido">Bienvenido, 
      <span>{{ user.displayName || user.email }}</span>
    </h2>

    <div class="acciones">

      <div class="accion-card" (click)="irARegistrarVehiculo()">
        🚗
        <p>Registrar vehículo</p>
      </div>

      <div class="accion-card" (click)="irASolicitarRevision()">
        🧰
        <p>Solicitar revisión</p>
      </div>

      <div class="accion-card" (click)="irAEstadoOrden()">
        📋
        <p>Estado de orden</p>
      </div>

      <div class="accion-card" (click)="irAHistorial()">
        🕓
        <p>Historial de servicios</p>
      </div>

      <div class="accion-card logout" (click)="logout()">
        🚪
        <p>Cerrar sesión</p>
      </div>

    </div>
  </div>

  <ng-template #noUser>
    <p>No hay usuario autenticado.</p>
  </ng-template>
</div>
