<h1 style="color:red; font-size:40px;">Agenda o revisa tus citas</h1>

<div *ngIf="user$ | async as user; else noUser">
  <h2>Bienvenido, {{ user.displayName || user.email }}</h2>

  <div class="acciones">
    <button (click)="irARegistrarVehiculo()">🚗 Registrar vehículo</button>
    <button (click)="irASolicitarRevision()">🧰 Solicitar revisión</button>
    <button (click)="irAEstadoOrden()">📋 Estado de orden</button>
    <button (click)="irAHistorial()">🕓 Historial de servicios</button>
    <button (click)="logout()">🚪 Cerrar sesión</button>
  </div>
</div>

<ng-template #noUser>
  <p>No hay usuario autenticado.</p>
</ng-template>
