<h2 class="titulo">Gestión de Órdenes</h2>

<!-- FILTROS -->
<div class="filtros-container">
  <label>Filtrar por estado:</label>
  <select #filtroSelect class="form-select" (change)="filtrar(filtroSelect.value)">
    <option value="Todos">Todos</option>
    <option value="Pendiente">Pendiente</option>
    <option value="Diagnóstico">Diagnóstico</option>
    <option value="Reparación">Reparación</option>
    <option value="Finalizado">Finalizado</option>
  </select>
</div>

<!-- TABLA -->
<table class="table table-striped tabla-ordenes mt-3">
  <thead>
    <tr>
      <th>Vehículo</th>
      <th>Motivo</th>
      <th>Cliente UID</th>
      <th>Estado</th>
      <th>Fecha</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let orden of ordenes$ | async">
      <td>{{ orden.vehiculoId }}</td>
      <td>{{ orden.motivo }}</td>
      <td>{{ orden.propietarioUid }}</td>
      <td>
        <span class="estado" [ngClass]="orden.estado.toLowerCase()">
          {{ orden.estado }}
        </span>
      </td>
      <td>{{ orden.fecha?.toDate() | date:'short' }}</td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="verOrden(orden.id!)">
          Administrar
        </button>
          <button class="btn btn-info btn-sm" (click)="verFactura(orden.id!)">
            Ver Factura
            </button>

      </td>
    </tr>
  </tbody>

  <button class="btn btn-secondary mb-3" (click)="volver()">⬅ Volver</button>

</table>
